body {
  font-family: monospace;
  background-color: #111;
  color: #f0f0f0;
  padding: 1em;
}
h1, h2 {
  color: #f9a;
}
.thread {
  border: 1px dashed #888;
  margin: 1em 0;
  padding: 1em;
  background-color: #1c1c1c;
}
.post {
  margin: 0.5em 0;
}
.timestamp {
  color: #aaa;
  font-size: 0.8em;
}
input, textarea, button, select {
  background-color: #222;
  color: #f0f0f0;
  border: 1px solid #888;
  padding: 0.3em;
  font-family: monospace;
}
textarea {
  width: 100%;
}
